<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %} Document {% endblock %}</title>
    {{ bootstrap.load_css() }}
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
{% block body %}
{% endblock %}
<footer>
{% block fotter %}
    inside block
{% endblock %}
</footer>
</body>
</html>